@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	.wrapper-home
		.inside-wrapper
			width: 100%
		
		.inside-wrapper:nth-child(even)
			margin-left: 0

	.news img 
		width: 100%
		margin-right: 0
		margin-bottom: 10px

	.block
		width: 215px
		margin-right: 10px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.block
		margin-right: 8px  //15
	
	// .wrapper-home
	// 	.table-resp 
	// 		width: auto
	// 		margin-bottom: 15px
	// 		overflow-y: hidden
	// 		// -ms-overflow-style: -ms-autohiding-scrollbar
	// 		border: 1px solid #ddd

	// 	.banner-inside
 //  		min-width: inherit
	.wrapper-home
		.inside-wrapper
			width: 215px
		.inside-wrapper:nth-child(even)
			margin-left: 10px
	


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.wrapper-home
		.inside-wrapper
			width: 100%
			
			.banner-inside
				width: 202px
				float: left
		
		.inside-wrapper:nth-child(even)
			margin-left: 0


		.table-resp 
			min-height: .01%
			overflow-x: auto
	
	.news img 
		width: 315px
		margin-right: 10px


	.block
		margin-right: 8px

	.aside-banner
		a
			display: inline-block
			float: right
			width: 50%
			padding: 10px

			&:first-child
			float: left

		img
			width: 100%

@media only screen and (max-width : 730px)

	.wrapper-grid
		.inside-wrapper
			width: 100%
			margin-left: 0

			.banner-inside
				width: 202px
				float: left
		
		.inside-wrapper:nth-child(even)
			margin-left: 0


		.table-resp 
			min-height: .01%
			overflow-x: auto

	.news img 
		width: 250px

	.block
		width: auto

	.banner
		float: left
		max-width: 295px

	.description
		float: left
		min-width: 295px

@media only screen and (max-width : 660px)
	.banner
		float: left
		max-width: 260px

	.description
		min-width: 270px

@media only screen and (max-width : 597px)
	.description
		min-width: 210px

@media only screen and (max-width : 560px)
	.block
		width: 220px

	.description
		min-width: 100%

	.wrapper-poject div
		width: 100%

@media only screen and (max-width : 515px)
	.block
		width: 300px

	.banner, .description
		min-width: 100%

	
@media only screen and (max-width : 520px)
	.link-lable
    display: none

	.outside-wrapper
		.table-resp 
			width: 100%
			margin-bottom: 15px
			overflow-y: hidden
			// -ms-overflow-style: -ms-autohiding-scrollbar
			border: 1px solid #ddd

		.banner-inside
	  	min-width: 100%
 	
 
	.wrapper-home
		.inside-wrapper
			width: 100%
			
			.banner-inside
				width: 100%
				float: none

	.wrapper-grid
		.inside-wrapper
			width: 100%
			
			.banner-inside
				width: 100%
				float: none

	.news img 
		width: 100%
		margin-right: 0


@media only screen and (max-width : 350px)
	.block
		width: 260px

	.aside-banner a
		display: inline-block
		float: none
		width: 100%
		padding: 10px

		&:first-child
			float: left

		img
			width: 100%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.navbar
		border-radius: 0 !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	// .outside-wrapper
	// 	.table-resp
	// 		min-height: .01%
	


