@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

.h1, h1
	font-size: 30px  !important

.h2, h2
	font-size: 24px  !important

.h3, h3
	font-size: 18px  !important
	// margin-top: 10px  !important

.h4, h4
	font-size: 12px  !important

body
  margin-bottom: 60px
  background-image: url(/img/bg2.jpg)
  background-size: 350px
  font-family: roboto, harmonia, sans-serif !important

a 
  outline:none !important

.description h3
  margin-top: 10px


.hidden
  display: none

header nav
  margin-bottom: 0 !important

.breadcrumb
  background-color: #fff !important

.page
  background-color: #fff
  box-shadow: 0 0 10px #aaa

#navbarCollapse
	span
		margin-right: 5px

.navbar
  margin-bottom: 0

.navbar-brand
  color: #fff !important

.navbar-default
  background-color: $colors !important
  border-color: $colors !important

.navbar-default .navbar-nav>li>a
  color: #fff !important

.navbar-default .navbar-nav>.active>a
  background-color: #0f2844 !important
  color: #fde318 !important
  font-weight:bold !important
  &hover
    background-color: #0f2844 !important


  

// navbar-default .navbar-nav>.active>a:focus, 


nav.navbar.navbar-default
  z-index: 5000

.wrapper
  width: 100%

.banner
  width: 100%

  img
    width: 100%

.description td, .home td
  font-size: 13px

// .description table tr:last-child, .description-inside table tr:last-child
.wrapper-home table tr:last-child, .wrapper-grid table tr:last-child
  text-align: center

  i
  	padding-left: 5px

// .description-inside
//   table
//     margin-top: 0 !important
//     margin-bottom: 0 !important

.full-banner
  width: 300px

.full-description
  display: inline-block
  width: inherit
  float: left

  table
    float: left

#footer
  margin-bottom: -20px
  position: absolute
  bottom: -55px
  width: 100%
  height: 80px
  background-color: $colors
  border-top: solid 1px #e7e7e7

.container .text-muted
  padding: 20px 0

.curs
  border: 1px solid #dddddd
  border-bottom: none

  p
    padding: 5px 0 5px 15px
    margin-bottom: 0
    color: darkorange
    font-size: 18px

  img
    width: 100%

.aside
  margin-bottom: 40px
  margin-top: 57px

.aside-banner img
  width: 100%

.home
  margin-bottom: 20px

  img
    width: 100%

  tr td:first-child
    width: 150px

.description img
  width: 100%

.home table
  border: 1px solid #337ab7
  margin-bottom: 0

.description table
  margin-bottom: 0

.clearfix::after
  content: ""
  display: table
  clear: both

.blok-news
	margin-bottom: 30px

	.news img
		width: 250px
		float: left
		margin-right: 10px

.videocontent
  margin: 20px 0

.news-page
  margin-bottom: 30px

.news-page img
  margin-top: 27px

.panel-vk
  border: #4d75a3 1px solid
  border-top: none
  font-family: Georgia
  z-index: 3000

.panel-fb
  border: #395a99 1px solid
  border-top: none
  font-family: Georgia
  z-index: 2000

// табы

i
  color: $colors
  padding-right: 5px

.tab-inside
	margin-bottom: 50px
	.nav
		li
			a
				padding: 8px 8px !important

.custom-tab
	a
		border-radius: 0
		color: #153a62 !important
		&:link
			border-top: 3px solid $colors
			border-right: 1px solid $colors
			border-left: 1px solid $colors
			border-radius: 0


.nav-tabs > li.active > a
  background-color: $colors !important
  border-top: 3px solid $colors
  border-right: 1px solid $colors
  border-left: 1px solid $colors
  color: #FFF !important
  border-bottom: 0
  &:focus, &:hover, &:visited
    background-color: $colors !important
    border-top: 3px solid $colors
    border-right: 1px solid $colors
    border-left: 1px solid $colors
    // color: #FFF
    border-bottom: 0

  & i
    color: #fff



.link-lable
  text-decoration: none
  // color: #000

// баннер и описание в inside
// .inside-wrapper
//   max-height: 250px



.banner-inside img
  width: 100%

// .banner-inside
//   width: 210px
//   float: left




// .inside-wrapper > .banner-inside
//   float: left
//   width: 300px

	// .outside-wrapper
	// 	.banner-inside
	// 		min-width: 100%
	// 	.inside-wrapper
	// 		width: 222px


.outside-wrapper
	.inside-wrapper
		.banner-inside
			width: 222px
			float: left

	.table-resp 
		min-height: .01%
		overflow-x: auto

.wrapper-home
	font-size: 12px

	.table
		margin-bottom: 0	

	.inside-wrapper
		border: 1px solid #c5c5c5
		width: 215px
		float: left
		margin-bottom: 10px
		
	.inside-wrapper:nth-child(even)
		margin-left: 10px

	h3
		margin-top: 5px
		margin-bottom: 5px

.wrapper-grid
	font-size: 12px

	.table
		margin-bottom: 0	

	.inside-wrapper
		border: 1px solid #c5c5c5
		width: 215px
		float: left
		margin-bottom: 10px
		margin-left: 8px

	h3
		margin-top: 5px
		margin-bottom: 5px

.pagin
	width: 250px
	margin: 10px auto

// .filters
// 	margin-left: 5px
// 	label
// 		margin-right: 10px


// Новости блог
.blog-news
	margin-bottom: 30px
		
	.news
		margin-bottom: 20px

		img
			width: 300px
			float: left
			margin-right: 10px

.article
	margin-bottom: 50px
	.news
		article > img
			width: 50%
			margin-bottom: 10px
			margin-right: 20px
			float: left

.left
	margin: 0 15px
	float: left

.right
	margin: 0 15px
	float: right

.panel
	margin-top: 5px

.tab-content
	margin-bottom: 20px
	margin-top: 20px


// Фильтры
.funkyradio
	margin-left: 8px
	font-size: 14px
	div
		// clear: both
		overflow: hidden
		margin-right: 4px
	label
		width: 82px
		border-radius: 3px
		border: 1px solid #D1D3D4
		font-weight: normal
	input
		&[type="radio"]:empty, &[type="checkbox"]:empty
			display: none
		&[type="radio"]:empty ~ label, &[type="checkbox"]:empty ~ label
			position: relative
			line-height: 1.8em
			text-indent: 2.0em
			// margin-top: 1em
			cursor: pointer
			user-select: none
		&[type="radio"]:empty ~ label:before, &[type="checkbox"]:empty ~ label:before
			position: absolute
			display: block
			top: 0
			bottom: 0
			left: 0
			content: ''
			width: 1.7em  // 2
			background: #D1D3D4
			border-radius: 3px 0 0 3px
		&[type="radio"]:hover:not(:checked) ~ label, &[type="checkbox"]:hover:not(:checked) ~ label
			color: #888
		&[type="radio"]:hover:not(:checked) ~ label:before, &[type="checkbox"]:hover:not(:checked) ~ label:before
			content: '\2714'
			text-indent: .4em
			color: #C2C2C2
		&[type="radio"]:checked ~ label, &[type="checkbox"]:checked ~ label
			color: #777
		&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
			content: '\2714'
			text-indent: .4em
			color: #333
			background-color: #ccc
		&[type="radio"]:focus ~ label:before, &[type="checkbox"]:focus ~ label:before
			box-shadow: 0 0 0 3px #999

.funkyradio-default input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #333
		background-color: #ccc

.funkyradio-primary input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #fff
		background-color: #337ab7

.funkyradio-success input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #fff
		background-color: #5cb85c

.funkyradio-danger input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #fff
		background-color: #d9534f

.funkyradio-warning input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #fff
		background-color: #f0ad4e

.funkyradio-info input
	&[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before
		color: #fff
		background-color: #5bc0de
    
.funkyradio-success
	float: left

.search
	width: 97%
	.btn
		padding: 2px 9px
		font-size: 15px
		margin-left: -20px
	.form-control
		height: 27px
	.navbar-form1
		.input-group
			// float: none
// h4.panel-title
// 	padding-top: 0 !important

.dataTables
	font-size: 12px

.comments
	margin-left: 15px
	position: relative
	a
		color: #fff
		position: absolute
		z-index: 200

	i
		color: #337ab7
		font-size: 22px
		margin-left: -10px
		margin-top: -2px
		position: absolute
		z-index: 100

.post-info p
	font-size: 12px
@import "media"